<script>

    /* import { zoomIn, zoomOut, resetZoom, clipboardImage, saveImage, saveModel } from '../scripts/site'
    import { createScene } from '../scripts/scene'
    import { generateFromInputs } from '../scripts/site'

    import { onMount } from 'svelte';

    let canvas

    onMount(() => {
		createScene(canvas)
        generateFromInputs()
	}); */

</script>

<div id=renderContainer>

    <p>test</p>

    <!-- <canvas id="render" bind:this={canvas}/>

    <div class="right verticalContainer">

        <label id="zoomIn" title="Zoom In">
            <img alt='+' src="assets/zoom_in.png" draggable="false">
            <input id="zoomIn" type='button' on:click={() => zoomIn()}>
        </label>

        <label id="zoomOut" title="Zoom Out">
            <img alt='-' src="assets/zoom_out.png" draggable="false">
            <input id="zoomOut" type='button' on:click={() => zoomOut()}>
        </label>

        <label id="resetView" title="Reset View">
            <img alt='o' src="assets/reset_view.png" draggable="false">
            <input id="resetView" type='button' on:click={() => resetZoom()}>
        </label>

    </div>

    <div class="left verticalContainer">

        <label id="clipboardImage" title="Copy Image">
            <img alt='CI' src="assets/copy_image.png" draggable="false">
            <input id="textureColor" type='button' on:click={() => clipboardImage()}>
        </label>

        <label id="saveImage" title="Save Image">
            <img alt='SI' src="assets/save_image.png" draggable="false">
            <input id="textureColor" type='button' on:click={() => saveImage()}>
        </label>

        <label id="saveModel" title="Save Model">
            <img alt='SM' src="assets/save_model.png" draggable="false">
            <input id="textureColor" type='button' on:click={() => saveModel()}>
        </label>

    </div> -->

</div>

<style>

#renderContainer {
    position: relative;
    cursor: pointer;
    margin: 10% 0 0;
    width: 100%;

    border: solid 8px #1e1e1e;
    border-style: solid none;
}

#render {
    width: 100%;
    display: block;
    position: relative;
    /* background-color: white; */
}

.verticalContainer {
    line-height: 0;
    position: absolute;
    top: 0;
    margin: 8px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-count: 1;
}

.left  { left: 0  }
.right { right: 0 }

.verticalContainer > * {
    margin-bottom: 8px;
}

/* buttons */

label {
    user-select: none;
    width: 32px;
    height: 32px;
}

label input {
    display: none;
}

label img {
    cursor: pointer;
    width: 32px;

    border: inset 4px #373737;
    border-top: inset 4px #ffffff;
    border-left: inset 4px #ffffff;
    background-color: #8b8b8b;
}

label img:hover {
    filter: brightness(120%);
}

label img:active {
    filter: brightness(120%);
}

</style>