<script>

  import Renderer from "./components/Renderer.svelte";

  /* import { onMount } from 'svelte';

  onMount(() => {
      generateInputs()
      generateFromInputs()
  }); */

</script>

<container>

  <Renderer/>

</container>